* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom,  #118785, #0c887f);
  background-size: 100% auto;
}

#logo {
height: 100px;
width: 100px;
}

#menu {
flex-direction: row;
justify-content: space-around;
}

#menu ul {
list-style: none;
width: 450px;
display: flex;
justify-content: space-around;
margin: auto;

}

#menu ul li a {
color: rgb(255, 255, 255);
text-decoration: none;
margin: auto;
font-family: 'Exo 2', sans-serif;
font-weight: 400;
font-size: 20px;
padding: 6px 15px;
}

#menu ul li a:hover{ 
background-color: #27968d;
border-radius: 10px;
}

footer {
width: 100%;
height: 40px;
background: linear-gradient(to bottom,  #118785, #363434);
display: flex;
justify-content: center;
align-items: center;
position: fixed;
bottom: 0;
color: white;
}

.container-header {
display: flex;
background-color: #108784;
justify-content: space-around;
align-items: center;
}

#principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: #0c887f;
  height: 84vh;
}

#principal h1 {
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
}

#exercicios ul li a {
  color: rgb(255, 255, 255);
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding: 6px 15px;
  margin: 10px;
  list-style-type: none;
  }
  
#exercicios ul li a:hover{ 
background-color: #27968d;
border-radius: 10px;
}

#formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#registrationForm {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

#form10 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  background-color: transparent;
  border: 2px solid black;
  outline: none;
}
